<a href="https://colab.research.google.com/github/Shaikh-Ruman/Python/blob/main/Types_of_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Dealing and Handling types of data

#Handle Nuemrical data
import numpy as np
import pandas as pd

num1 = 34
num2 = 34.5

#Arithmetic Operation - Sum, Square root
sum_value = num1+num2
square_root = np.sqrt(sum_value)
print('Sum:', sum_value)
print('Square Root:', square_root)

Sum: 68.5
Square Root: 8.276472678623424

In [4]:
#Handle missing value

import pandas as pd
df = pd.read_csv('data.csv')
print(df)

df.isnull().sum()
df.fillna()

NameError: name 'df' is not defined

In [10]:
#Handling Categorical data

import pandas as pd
import numpy as np # Import numpy as it's used for np.nan

# Corrected DataFrame creation
df = pd.DataFrame({'Color':['Red','Blue','Green','Red',np.nan]})

df['Color'].fillna('Unknown',inplace=True)

#ONE-HOT ENCODING - Convert categorical values to numerical.
df_encoded = pd.get_dummies(df, columns=['Color'])
print(df_encoded)

   Color_Blue  Color_Green  Color_Red  Color_Unknown
0       False        False       True          False
1        True        False      False          False
2       False         True      False          False
3       False        False       True          False
4       False        False      False           True

/tmp/ipython-input-827564477.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Color'].fillna('Unknown',inplace=True)

In [11]:
#Hanlde the text data

import re
text = "Hello, World! Welcome to Python."

#Convert to lowercase
lowercase_text = text.lower()
print(lowercase_text)

#Remove punctuation
cleaned_text = re.sub(r'[^\w\s]', '', text)
print(cleaned_text)

#Tokenize words
words = text.split()
print(words)

hello, world! welcome to python.
Hello World Welcome to Python
['Hello,', 'World!', 'Welcome', 'to', 'Python.']