<a href="https://colab.research.google.com/github/Shaikh-Ruman/Python/blob/main/Types_of_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Dealing and Handling types of data

#Handle Nuemrical data
import numpy as np
import pandas as pd

num1 = 34
num2 = 34.5

#Arithmetic Operation - Sum, Square root
sum_value = num1+num2
square_root = np.sqrt(sum_value)
print('Sum:', sum_value)
print('Square Root:', square_root)

Sum: 68.5
Square Root: 8.276472678623424

In [ ]:
#Handling Categorical data

import pandas as pd
import numpy as np # Import numpy as it's used for np.nan

# DataFrame creation
df = pd.DataFrame({'Color':['Red','Blue','Green','Red',np.nan]})

df['Color'].fillna('Unknown',inplace=True)

#ONE-HOT ENCODING - Convert categorical values to numerical.
df_encoded = pd.get_dummies(df, columns=['Color'])
print(df_encoded)

   Color_Blue  Color_Green  Color_Red  Color_Unknown
0       False        False       True          False
1        True        False      False          False
2       False         True      False          False
3       False        False       True          False
4       False        False      False           True

/tmp/ipython-input-827564477.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Color'].fillna('Unknown',inplace=True)

In [ ]:
#Handle the text data

import re
text = "Hello, World! Welcome to Python."

#Convert to lowercase
lowercase_text = text.lower()
print(lowercase_text)

#Remove punctuation
cleaned_text = re.sub(r'[^\w\s]', '', text)
print(cleaned_text)

#Tokenize words
words = text.split()
print(words)

hello, world! welcome to python.
Hello World Welcome to Python
['Hello,', 'World!', 'Welcome', 'to', 'Python.']

In [1]:
#Handle the date and time data

from datetime import datetime, timedelta

#current date and time
now = datetime.now()

#Formatting the date
formatted_date = now.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_date)

#Date and time calculation or Adding 7 days
future_date = now + timedelta(days=7)
print(future_date)

2025-09-24 19:41:30
2025-10-01 19:41:30.811363

In [3]:
#Handling Null values

import pandas as pd
import numpy as np

df = pd.DataFrame({'Color':['Red','Blue','Green','Red',np.nan]})
df.fillna('Unknown',inplace=True)
print(df)

     Color
0      Red
1     Blue
2    Green
3      Red
4  Unknown

In [4]:
#Handling missing or null data

import pandas as pd
import numpy as np

df = pd.DataFrame({'Name':['Chandan','Rahul',None,'Dev'],'Salary':[5000,7000,6000,None]})

#Drop the missing value
df_dropped = df.dropna()
print(df_dropped)

      Name  Salary
0  Chandan  5000.0
1    Rahul  7000.0

In [7]:
#Handling missing or null data

import pandas as pd
import numpy as np

df = pd.DataFrame({'Name':['Chandan','Rahul',None,'Dev'],'Salary':[5000,7000,6000,None]})

#Drop the missing value
df_dropped = df.dropna()
print(df_dropped)

#Fill the missing value
df['Salary'].fillna(df['Salary'].mean(),inplace=True)
print(df)

      Name  Salary
0  Chandan  5000.0
1    Rahul  7000.0
      Name  Salary
0  Chandan  5000.0
1    Rahul  7000.0
2     None  6000.0
3      Dev  6000.0

/tmp/ipython-input-427826647.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(df['Salary'].mean(),inplace=True)

In [9]:
#Handling the time series data
df = pd.DataFrame({'Date':['2025-01-01','2025-01-02','2025-01-03','2025-01-04'],'Sales':[100,200,250,300]})

#Convert to datetime
df = df.set_index('Date').asfreq('D').fillna(method='ffill')
print(df)

            Sales
Date
2025-01-01    NaN
2025-01-02    NaN
2025-01-03    NaN
2025-01-04    NaN

/tmp/ipython-input-2282561531.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.set_index('Date').asfreq('D').fillna(method='ffill')

In [11]:
#Handling lists in pandas

import pandas as pd
df = pd.DataFrame({'Hobbies':[['Reading','Gaming'],['Cooking'],['Travelling','Music']]})

#Convert the lists to string value
df['Hobbies'] = df['Hobbies'].apply(lambda x: ','.join(x))
print(df)

            Hobbies
0    Reading,Gaming
1           Cooking
2  Travelling,Music